/* style halaman login */
body {
    background: linear-gradient(135deg, #031341, #031446);
    color: #fff;
}

.login-box {
    width: 50%;
    height: 100vh;
    background-image: url('../img/login.png');
    background-size: cover;
    background-position: center;
}
.login-image {
        width : 505;
        height :100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40o
    }
